<h1>KAIZENer</h1>
<h3>改善に必要なアクションプランをを一括管理し、PDCAサイクルを回すサポートをします</h3>

<h4>以下を可視化！</h4>
<p>問題提起</p>
<p>改善案</p>
<p>担当者</p>
<p>結果</p>
<p>評価</p>

<% if user_signed_in? %>
  <%= link_to '課題一覧', issues_path %> |
  <%= link_to '課題追加', new_issue_path %>
<% else %>
  <%= link_to 'ゲスト(一般)ログイン', users_guest_sign_in_path, method: :post %> |
  <%= link_to 'ゲスト(管理者)ログイン', users_guest_admin_sign_in_path, method: :post %>
<% end %>